/* Anything smaller than first breakpoint 600px */
@media (max-width: 800px) {
  #blogListContainer {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: repeat(6, 17vh);
    grid-template-areas:
      "content1"
      "content2"
      "content3 "
      "content4"
      "content5 ";
  }

  body {
    font-size: 0.8em;
  }

  .contentHeaderTextSize {
    font-weight: 900;
    font-size: 1em;
  }

  .contentTextSize {
    font-size: 0.8em;
    margin: 4px 4px 8px 4px;
  }

  .contentMetaSize {
    font-size: 0.75em;
  }
}

/* Medium Screens */
@media (min-width: 800px) and (max-width: 1200px) {
  #blogListContainer {
    display: grid;
    grid-template-columns: 40vw 2vw 40vw;
    grid-template-rows: 23vh 2vh 23vh 2vh 23vh;
    grid-template-areas:
      "content1 . content2"
      ". . . "
      "content3 . content4"
      ". . . "
      "content5 . content6";
  }

  body {
    font-size: 1em;
  }

  .contentHeaderTextSize {
    font-weight: 900;
    font-size: 1em;
  }

  .contentTextSize {
    font-size: 0.8em;
    margin: 4px 4px 8px 4px;
  }

  .contentMetaSize {
    font-size: 0.75em;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  #blogListContainer {
    display: grid;
    grid-template-columns: 27vw 1vw 27vw 1vw 27vw;
    grid-template-rows: 25vh 5vh 25vh;
    grid-template-areas:
      "content1 . content2 . content3"
      ". . . . . "
      "content4 . content5 . content6";
  }

  body {
    font-size: 1.1em;
  }

  .contentHeaderTextSize {
    font-weight: 900;
    font-size: 1.1em;
  }

  .contentTextSize {
    font-size: 0.9em;
    margin: 4px 4px 8px 4px;
  }

  .contentMetaSize {
    font-size: 0.75em;
  }
}

/* Associate the ids to the grids */
#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#content5 {
  grid-area: content5;
}

#content6 {
  grid-area: content6;
}
