/* Anything smaller than first breakpoint 600px */
@media (max-width: 800px) {
  #mainContainer {
    display: grid;
    grid-template-columns: 10vw 2vw 70vw;
    grid-template-rows: 12h 12vh 12vh 12vh 12vh 12vh 12vh;
    grid-template-areas:
      "header header header"
      "menu   . content1"
      "menu . content2"
      "menu . content3 "
      "menu . content4"
      "menu     . content5 "
      "footer . content6";
  }

  body {
    font-size: 0.8em;
  }

  .contentHeaderTextSize {
    font-weight: 900;
    font-size: 1em;
  }

  .contentTextSize {
    font-size: 0.8em;
    margin: 4px 4px 8px 4px;
  }

  .contentMetaSize {
    font-size: 0.75em;
  }

  #footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* Medium Screens */
@media (min-width: 800px) and (max-width: 1200px) {
  #mainContainer {
    display: grid;
    grid-template-columns: 10vw 2vw 40vw 2vw 40vw;
    grid-template-rows: 12vh 2vh 23vh 2vh 23vh 2vh 20vh 8vh;
    grid-template-areas:
      "header header header header header"
      ". . . . . "
      "menu . content1 . content2"
      "menu . . . . "
      "menu . content3 . content4"
      "menu . . . . "
      "menu  . content5 . content6"
      ". . . . ."
      ". footer footer footer footer ";
  }

  body {
    font-size: 1em;
  }

  .contentHeaderTextSize {
    font-weight: 900;
    font-size: 1em;
  }

  .contentTextSize {
    font-size: 0.8em;
    margin: 4px 4px 8px 4px;
  }

  .contentMetaSize {
    font-size: 0.75em;
  }

  #footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  #mainContainer {
    display: grid;
    grid-template-columns: 10vw 1vw 27vw 1vw 27vw 1vw 27vw;
    grid-template-rows: 12vh 3vh 25vh 3vh 25vh 22vh 6vh;
    grid-template-areas:
      "header header header header header header header"
      ". . . . . . . "
      "menu . content1 . content2 . content3"
      "menu . . . . . . "
      "menu  . content4 . content5 . content6"
      ".  . . . . . ."
      ". footer footer footer footer footer footer ";
  }

  body {
    font-size: 1.1em;
  }

  .contentHeaderTextSize {
    font-weight: 900;
    font-size: 1.1em;
  }

  .contentTextSize {
    font-size: 0.9em;
    margin: 4px 4px 8px 4px;
  }

  .contentMetaSize {
    font-size: 0.75em;
  }
  #footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Associate the ids to the grids */
#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#content5 {
  grid-area: content5;
}

#content6 {
  grid-area: content6;
}

#header {
  grid-area: header;
}

#menu {
  grid-area: menu;
}
