/* @import “blog.css” body {
  font-size: 12px;
} */

@media (max-width: 1099px) {
  #mainContainer {
    display: grid;
    grid-template-columns: 95vw;
    grid-template-rows: repeat(9, 11vh);
    grid-template-areas:
      "header"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "menu"
      "footer";
  }

  body {
    font-size: 12px;
  }
}

@media (min-width: 1100px) {
  #mainContainer {
    display: grid;
    grid-template-columns: 10vw 2vw 40vw 2vw 40vw;
    grid-template-rows: 12vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh;
    grid-template-areas:
      "header header header header header"
      "menu . . . ."
      "menu . content1 . content2"
      "menu . . . ."
      "menu . content3 . content4"
      "menu . . . ."
      "menu . content5 . content6 "
      "footer . . . .";
  }
  body {
    font-size: 16px;
  }
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#content5 {
  grid-area: content5;
}

#content6 {
  grid-area: content6;
}

#header {
  grid-area: header;
}

#menu {
  grid-area: menu;
}

#footer {
  grid-area: footer;
}
