.headerTitle {
  text-align: center;
  font-size: 2em;
  width: 100%;
  padding: 4px 0px 4px 0px;
  margin: 2px 2px 2px 0px;
  color: black;
  background-color: WhiteSmoke;
  text-transform: capitalize;
}

.headerIconContainer {
  text-align: right;
  font-size: 2em;
  padding: 2px 6px 8px 0px;
  margin: 6px 2px 2px 2px;
  color: black;
  background-color: WhiteSmoke;
  text-transform: capitalize;
  border-radius: 6px;
}

.menu {
  align-self: flex-start;
  width: 100%;
  padding: 2px 2px 2px 6px;
  margin: 12px 2px 2px 2px;
  border: 1px solid;
}

.menuHeader {
  align-self: center;
  font-size: 1.15em;
  font-weight: 700;
  width: 100%;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
}

.menuLinks {
  align-self: center;
  font-size: 0.95em;
  font-weight: 700;
  width: 100%;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
  display: block;
}

.hyperlinkNormalText {
  text-decoration: none;
}

.paper {
  background: #faf3e8;
  color: black;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 1px 2px 5px #888888;
}

.buttonContainer {
  margin: 6px 6px 6px 6px;
  padding: 6px 6px 6px 6px;
  display: flex;
  justify-content: space-around;
}

.button {
  outline: none;
  border: none;
  background-color: #79a6e8;
  color: white;
  box-shadow: 0px 3px 5px 0px gray;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 6px;
  height: 25px;
}

.button:active {
  animation: pressed 0.9s linear;
}

.footerText {
  font-size: 1em;
  color: DimGray;
  text-transform: capitalize;
}

.blogTitle {
  font-size: 1.5em;
  align-self: center;
}

.authorInfo {
  text-align: center;
  margin-bottom: 9px;
}
