/* Anything smaller than first breakpoint 600px */
@media (max-width: 800px) {
  .contentHeaderImage {
    display: inline;
    align-self: flex-end;
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .contentHeaderImage {
    display: inline;
    align-self: flex-end;
    width: 72px;
    height: 72px;
  }
}

@media (min-width: 1200px) {
  .contentHeaderImage {
    display: inline;
    align-self: flex-end;
    width: 96px;
    height: 86px;
  }
}

.headerTitle {
  text-align: center;
  font-size: 2em;
  width: 100%;
  padding: 4px 0px 4px 0px;
  margin: 2px 2px 2px 0px;
  color: black;
  background-color: WhiteSmoke;
  text-transform: capitalize;
}

.headerContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 4px 0px 2px 2px;
  margin: 2px 2px 12px 2px;
  border-radius: 6px;
  border: 1px;
  border-bottom: 2px solid #dbe8f7;
}

.headerIconContainer {
  text-align: right;
  font-size: 2em;
  padding: 2px 6px 8px 0px;
  margin: 6px 2px 2px 2px;
  color: black;
  background-color: WhiteSmoke;
  text-transform: capitalize;
  border-radius: 6px;
}

.menu {
  align-self: flex-start;
  width: 100%;
  padding: 2px 2px 2px 6px;
  margin: 12px 2px 2px 2px;
  border: 1px solid;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  padding: 4px 4px 4px 4px;
  /* border: 1px solid; */
  border-radius: 4px;
  background-color: #f2d399;
}

.menuHeader {
  align-self: center;
  font-size: 1.15em;
  font-weight: 700;
  width: 100%;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
}

.menuLinks {
  align-self: center;
  font-size: 0.95em;
  font-weight: 700;
  width: 100%;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
  display: block;
}

/* Large Screens */
@media (max-width: 800px) {
  .footer {
    height: 100%;
    background-color: #d98236;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
  }
}

@media (min-width: 800px) {
  .footer {
    height: 100%;
    background-color: #d98236;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
  }
}

.footerText {
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
  align-self: center;
  vertical-align: middle;
  margin-bottom: 2px;
  margin: 0px 0px 0px 0px;
}

.hyperlinkNormalText {
  text-decoration: none;
  vertical-align: middle;
}

.paper {
  background: #faf3e8;
  color: black;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 1px 2px 5px #888888;
}

.buttonContainer {
  margin: 6px 6px 6px 6px;
  padding: 6px 6px 6px 6px;
  display: flex;
  justify-content: space-around;
}

.button {
  outline: none;
  border: none;
  background-color: #79a6e8;
  color: white;
  box-shadow: 0px 3px 5px 0px gray;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 6px;
  height: 25px;
}

.button:active {
  animation: pressed 0.9s linear;
}

.blogTitle {
  font-size: 1.5em;
  align-self: center;
}

.authorInfo {
  text-align: center;
  margin-bottom: 9px;
}
