@media (max-width: 1099px) {
  #authorInfoContainer {
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: 4vw 4vw 3vw 3vw 3vw 25vw 3vw 12vw 4vw 9vw 9vw;
    grid-template-areas:
      "authorName"
      "avatar"
      "title"
      "titleInfo"
      "bio"
      "bioInfo"
      "companySchool"
      "schoolInfo"
      "social"
      "socialInfo"
      "socialInfo";
  }

  .avatar {
    width: 36px;
    height: 26px;
  }
}

@media (min-width: 1100px) {
  #authorInfoContainer {
    display: grid;
    grid-template-columns: 9vw 2vw 55vw 10vw 5vw;
    grid-template-rows: 5vh 7vh 35vh 10vh 5vh;
    grid-template-areas:
      ".             . authorName  avatar     ."
      "title         . titleInfo   titleInfo  ."
      "bio           . bioInfo     bioInfo    ."
      "companySchool . schoolInfo  schoolInfo ."
      "social        . socialInfo  socialInfo .";
    margin-left: 12px;
  }

  .avatar {
    width: 72px;
    height: 72px;
  }
}

#authorName {
  grid-area: authorName;
}

#avatar {
  grid-area: avatar;
}

#title {
  grid-area: title;
}

#titleInfo {
  grid-area: titleInfo;
}

#companySchool {
  grid-area: companySchool;
}

#schoolInfo {
  grid-area: schoolInfo;
}

#bio {
  grid-area: bio;
}

#bioInfo {
  grid-area: bioInfo;
}

#social {
  grid-area: social;
}

#socialInfo {
  grid-area: socialInfo;
}
