.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.leftColContainer {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.blogContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 6px 6px 6px 6px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-self: flex-end;
  width: 100%;
  padding: 1px 0px 1px 0px;
  margin: 2px 2px 2px 2px;
  border-radius: 6px;
  background-color: SeaShell;
}
